.title-pop {
  font-size: 30px;
  line-height: 121px;
  position: relative;
  margin-right: 115px;
  color: #42AFFA;
}
.title-pop::after {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 37px;
  left: 0;
  display: block;
  content: 'pop!';
  transform: scaleY(-1);
  opacity: .5;
}
